In [1]:
import pandas as pd

## Series

In [2]:
data = [1,2,3,4,5] #lista exemplo

In [3]:
s = pd.Series(data) #IMPORTANTE, não é um dataframe, é uma serie
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
index = ['Linha ' + str(i) for i in range(0,5,1)] #Configurando o que iremos utilizar como index, importante deixar dentro de [()] e sem :
index #Index configurado com sucesso

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [5]:
s = pd.Series(data = data, index = index)#Basicamente ditando ao python como montar a serie, a parte de =data e =index não era necessária, mas deixa um pouco melhor estruturado
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [6]:
data = {'Linha ' + str(i) : i+1 for i in range(5)}#Modo alternativo utilizando dicionários, é interessante que ele utiliza todo o dict antes de montar a série
data

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [7]:
s = pd.Series(data)
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [8]:
s1 = s + 2 #operações possíveis com a parte da lista, lembrando que estamos puxando do dict
s1

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

In [9]:
s2 = s + s1
s2

Linha 0     4
Linha 1     6
Linha 2     8
Linha 3    10
Linha 4    12
dtype: int64

## Dataframe

In [30]:
data = [[1,2,3],[4,5,6],[7,8,9]]#exemplo, lista de listas
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
df1 = pd.DataFrame(data = data)#transformando lista em DF

In [12]:
index = ['Linha ' + str(i) for i in range(0,3,1)]#Montando o index
index

['Linha 0', 'Linha 1', 'Linha 2']

In [13]:
df1 = pd.DataFrame(data = data, index = index)#Estruturando o DF
df1

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [14]:
col = ['Coluna ' + str(i) for i in range(0,3,1)]#Estruturando o DF>Coluna
col

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [15]:
df1 = pd.DataFrame(data = data, index = index, columns = col)#Estruturando o DF
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [16]:
dict = {'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},#Exemplo do professor, editei levemente colocando espaço entre 'linha' e #
        'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
        'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}
dict

{'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},
 'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
 'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}

In [24]:
df2 = pd.DataFrame(dict)#Muito legal, ele já puxa até mesmo o nome das linhas e colunas, prático!

In [18]:
data = [(1,2,3),(4,5,6),(7,8,9)]#Resetando a variável
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [31]:
df3 = pd.DataFrame(data = data, index = index, columns = col)
df3#Criando mais um pra usar de exemplo

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [20]:
df1[df1 > 0] = 'A'#Interessante modo de analisar o DF
df1

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A

In [25]:
df2[df2 > 0] = 'B'#Interessante modo de analisar o DF
df2

        Coluna 0 Coluna 1 Coluna 2
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B

In [22]:
df3[df3 > 0] = 'C'#Interessante modo de analisar o DF
df3

        Coluna 0 Coluna 1 Coluna 2
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [27]:
df4 = pd.concat([df1,df2,df3])#pd.concat junta diversos dataframes procurando semelhanças!
df4

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [32]:
df4 = pd.concat([df1,df2,df3], axis = 1)#Axis = 1 gira a orientação do DF
df4

,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2
Linha 0,A,A,A,B,B,B,1,2,3
Linha 1,A,A,A,B,B,B,4,5,6
Linha 2,A,A,A,B,B,B,7,8,9