# Organizando DF's

In [1]:
import pandas as pd
data = [[1,2,3],[4,5,6],[7,8,9]]

In [2]:
list('321')#criar uma lista rapida

['3', '2', '1']

In [5]:
df = pd.DataFrame(data, list('321'),list('zyx'))
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [8]:
df.sort_index(inplace=True)#como organizar pelo index + substituir
df

   z  y  x
1  7  8  9
2  4  5  6
3  1  2  3

In [12]:
df.sort_index(inplace=True, axis = 1)#como organizar pela coluna (axis = 1) + substituir
df

   x  y  z
1  9  8  7
2  6  5  4
3  3  2  1

In [19]:
df.sort_values(by = 'x', inplace = True)#organizar por vari√°vel 'x'
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [17]:
df.sort_values(by = '3',axis = 1, inplace = True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [20]:
df.sort_values(by = ['x','y'], inplace = True)#organizar por vari√°vel 'x', em seguida 'y', ou seja, lista de vari√°veis para organizar