In [3]:
%matplotlib inline
import pandas as pd
import matplotlib as plt
plt.rc('figure',figsize = (20,10))
print('bibliotecas importadas')

bibliotecas importadas

In [7]:
dados = pd.read_csv('dados/aluguel_amostra.csv', sep = ';')
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Recreio dos Bandeirantes,3,2,1,320,3200.0,1319.0,0.0,10.00,Apartamento
1,Apartamento,Maracanã,2,0,0,59,800.0,725.0,47.0,13.56,Apartamento
2,Apartamento,Leblon,3,2,1,147,7500.0,1000.0,381.0,51.02,Apartamento
3,Apartamento,São Conrado,3,3,3,270,14999.0,2800.0,1200.0,55.55,Apartamento
4,Apartamento,Tijuca,2,1,0,65,1200.0,640.0,97.0,18.46,Apartamento
5,Apartamento,Cachambi,2,1,1,75,1400.0,715.0,0.0,18.67,Apartamento
6,Apartamento,Glória,1,0,0,52,1700.0,560.0,0.0,32.69,Apartamento
7,Apartamento,Engenho Novo,2,1,0,70,1200.0,430.0,21.0,17.14,Apartamento
8,Apartamento,Maracanã,1,1,0,59,1500.0,410.0,0.0,25.42,Apartamento
9,Apartamento,Flamengo,3,0,0,100,2500.0,980.0,105.0,25.00,Apartamento
10,Apartamento,Pechincha,1,1,0,54,1200.0,347.0,0.0,22.22,Apartamento
11,Apartamento,Lagoa,2,1,1,95,3800.0,1800.0,300.0,40.00,Apartamento
12,Apartamento,Leblon,4,2,1,200,12000.0,2340.0,660.0,60.00,Apartamento
13,Casa,Vaz Lobo,3,1,0,80,950.0,0.0,36.0,11.88,Casa
14,Apartamento,Recreio dos Bandeirantes,2,1,1,69,1500.0,752.0,149.0,21.74,Apartamento
15,Apartamento,Copacabana,1,0,0,39,1800.0,490.0,71.0,46.15,Apartamento
16,Apartamento,Recreio dos Bandeirantes,2,2,1,198,2600.0,1600.0,350.0,13.13,Apartamento
17,Apartamento,Curicica,2,1,0,46,1000.0,503.0,13.0,21.74,Apartamento
18,Apartamento,Flamengo,3,1,1,250,8000.0,2000.0,580.0,32.00,Apartamento
19,Apartamento,Zumbi,2,1,0,64,1600.0,500.0,60.0,25.00,Apartamento

In [25]:
q1 = dados['Valor m2'].quantile(.25)
print(f'quartil 1: {q1}')
q3 = dados['Valor m2'].quantile(.75)
print(f'quartil 3: {q3}')
iiq = (q3 - q1).round(2)
print(f'IIQ: {iiq}')
liminf = (q1 - 1.5 * iiq).round(2)
limsup = (q3 + 1.5 * iiq).round(2)
print(f'Limite inferior {liminf}')
print(f'Limite superior {limsup}')

quartil 1: 21.25
quartil 3: 42.31
IIQ: 21.06
Limite inferior -10.34
Limite superior 73.9