# Relatório de análise II

## Tipos de imóveis

In [4]:
import pandas as pd 
print('Pandas importado com sucesso!')

Pandas importado com sucesso!

In [10]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')
dados.head(10) #visualizar os 10 primeiros itens

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [11]:
dados['Tipo'] #verificar somente as entradas com o rótulo 'Tipo'

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [21]:
tipodeimovel = dados['Tipo'] #Criando uma variável editável
type(tipodeimovel)

pandas.core.series.Series

In [23]:
tipodeimovel.drop_duplicates()#Tirando duplicatas, mas sem salvar

0               Apartamento
16923                  Casa
17821    Casa de Condomínio
18785          Casa de Vila
19018             Quitinete
Name: Tipo, dtype: object

In [24]:
tipodeimovel #confirmando que não foi salvo

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [54]:
tipodeimovel.drop_duplicates(inplace = True) #com inplace existe a subsituição definitiva
tipodeimovel
(tipodeimovel.shape[0])

5

## Organizando a visualização

In [28]:
tipodeimovel = pd.DataFrame(tipodeimovel)#convertendo em dataframe
tipodeimovel

                     Tipo
0             Apartamento
16923                Casa
17821  Casa de Condomínio
18785        Casa de Vila
19018           Quitinete

In [53]:
tipodeimovel.index#ele só elimina valores duplicados, então mantem o index antigo, .index verifica index atual

RangeIndex(start=0, stop=5, step=1)

In [52]:
range(tipodeimovel.shape[0]) #serve só para verificar número de itens

range(0, 5)

In [41]:
for i in range(tipodeimovel.shape[0]):#Acho que é só para lembrar que o index começa do 0
    print(i)

0
1
2
3
4

In [45]:
tipodeimovel.index = range(tipodeimovel.shape[0])#interessante isso, basicamente falam como deve ser montado o index, o .shape serve para delimitar a ponta direita do index
tipodeimovel

                 Tipo
0         Apartamento
1                Casa
2  Casa de Condomínio
3        Casa de Vila
4           Quitinete

In [56]:
tipodeimovel.index #conferindo
type(tipodeimovel)

pandas.core.frame.DataFrame

In [55]:
tipodeimovel.columns.name = 'Cód' #Mudando o nome da coluna do index
tipodeimovel

Cód                Tipo
0           Apartamento
1                  Casa
2    Casa de Condomínio
3          Casa de Vila
4             Quitinete